* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }

nav{
    background-color: rgb(111, 8, 247);
    display: block;
}

body{
    background-color: rgb(13, 163, 233);
    margin: 0px;
}
h1{
    font-family: 'Roboto Slab';
    
}

header{
    display: block;
    height: 400px;
}

nav ul{
    display: inline-flex;
}

nav ul li{
    
    padding: 10px;
}

nav ul a{
    color: black;
    padding: 10px;
    text-decoration: none;
}

nav ul a:link, a:visited{
    
}

a:hover {
	color:white;
    font-size: 20px;
	}